# pip install -r requirements.txt
# python -m pip install -r requirements.txt
# pip install --user -r requirements.txt

Flask
tensorflow==2.12.0
# tensorflow==latest  # This will install the latest compatible version
numpy==1.23.5
opencv-python==4.7.0.72
matplotlib==3.7.1
tf2onnx